@font-face {
   font-family: 'Forum';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/cgaspard/Projects/cgaspard/adamallenlawfirm/fonts/Forum/regular.ttf') format('truetype');
}
